{% extends 'base.html' %}

{% block content %}

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(static/images/img_bg_2.jpg);"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Kalkulator Cinta</h1>
                        <h2>Valentino Ahasyweros Manalu, Elsa Azzahra, Muhammad Rijal</h2>
                        <h2>Kelompok H, Kelas 2B</h2>
                        <p><a href="#fh5co-couple" class="btn btn-default btn-sm">Cek Kekuatan Cinta Kalian!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}